/* 全局设置 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #181818;
    color: #e1e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    display: flex;
    width: 800px;
    background-color: #242424;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}

.settings, .result {
    padding: 40px;
    flex: 1;
}

.settings {
    border-right: 1px solid #333;
}

h1, h2 {
    margin-bottom: 20px;
    color: #ffffff;
}

.input-group {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    color: #bbbbbb;
    display: block;
    margin-bottom: 5px;
}

input[type="number"], input[type="checkbox"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 8px;
    background-color: #333;
    color: #e1e1e1;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    width: auto;
    margin-left: 5px;
}

button {
    background-color: #0070f3;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 20px;
}

button:hover {
    background-color: #005bb5;
}

.password-output {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #333;
}

#passwordDisplay {
    font-size: 18px;
    word-wrap: break-word;
    color: #ffffff;
}
