/* 全局设置 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #181818;
    color: #e1e1e1;
    display: flex;
    flex-direction: column; /* 调整为列布局 */
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: #181818;
}

.container {
    display: flex;
    flex-direction: column; /* 调整为列布局 */
    width: 90%; /* 调整宽度 */
    max-width: 800px; /* 设置最大宽度 */
    background-color: #242424;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin-bottom: 20px; /* 添加底部间距 */
}

.settings, .result {
    padding: 20px;
    flex: 1; /* 调整 flex 属性 */
    min-width: 300px;
}

h1, h2 {
    margin-bottom: 20px;
    color: #ffffff;
}

.input-group {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    color: #bbbbbb;
    display: block;
    margin-bottom: 5px;
}

input[type="number"], input[type="checkbox"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 8px;
    background-color: #333;
    color: #e1e1e1;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    width: auto;
    margin-left: 5px;
}

button {
    background-color: #0070f3;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 20px;
}

button:hover {
    background-color: #005bb5;
}

.password-output {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #333;
}

#passwordDisplay {
    font-size: 18px;
    word-wrap: break-word;
    color: #ffffff;
}

.password-strength {
    margin-top: 10px;
    font-size: 14px;
    color: #bbbbbb;
}

/* 响应式设计 */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* 调整为列布局 */
        width: 90%; /* 调整宽度 */
        max-width: 800px; /* 设置最大宽度 */
    }

    .settings, .result {
        padding: 20px 10px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 95%; /* 调整宽度 */
    }
}
